<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/css/users/edit_user.css" />
  </head>
  <body>
    <%- include('../partial/user.ejs') %>
    <main>
      <header>
        <h1>Editar Usuario</h1>
      </header>

      <form action="/users/update/<%= contact.id %>" method="post" id="editUserForm" enctype="multipart/form-data">
        <fieldset>
          <label for="name">Nombre:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= contact.name %>"
            placeholder="Ingrese su nombre"
            required
          />
        </fieldset>

        <fieldset>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            value="<%= contact.email %>"
            placeholder="Ingrese su email"
            required
          />
        </fieldset>

        <fieldset>
          <label for="phone">Teléfono:</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            value="<%= contact.phone %>"
            placeholder="Ingrese su teléfono"
          />
        </fieldset>

        <fieldset>
          <label for="age">Edad:</label>
          <input
            type="number"
            id="age"
            name="age"
            value="<%= contact.age %>"
            placeholder="Ingrese su edad"
          />
        </fieldset>

        <fieldset>
          <label for="address">Domicilio:</label>
          <input
            type="text"
            id="address"
            name="address"
            value="<%= contact.address %>"
            placeholder="Ingrese su domicilio"
          />
        </fieldset>

        <fieldset>
          <label for="gender">Sexo:</label>
          <select id="gender">
            <option value="" disabled>Seleccionar</option>
            <option value="Masculino" <%= contact.gender == "Masculino" ? "selected" : "" %>>Masculino</option>
            <option value="Femenino" <%= contact.gender == "Femenino" ? "selected" : "" %>>Femenino</option>
            <option value="Otro" <%= contact.gender == "Otro" ? "selected" : "" %>>Otro</option>
          </select>
        </fieldset>

        <fieldset>
          <% if (contact.photo) { %>
            <label for="photo">Foto actual:</label>
            <img
              id="currentPhoto"
              src="/assets/<%= contact.photo.filename %>"
              alt="Foto de perfil actual"
              width="150"
            />
          <% } %>         
          <label for="newPhoto">Cambiar foto:</label>
          <input type="file" id="newPhoto" name="newPhoto"  accept="image/*" />
        </fieldset>

        <fieldset>
          <label for="linkedinUrl">URL de LinkedIn:</label>
          <input
            type="url"
            id="linkedinUrl"

            name="link",
            value="<%= contact.link %>"
                       placeholder="Ingrese su URL de LinkedIn"
          />
        </fieldset>

        <button type="submit">Guardar Cambios</button>
      </form>

      <p id="successMessage"></p>
      <p id="errorMessage"></p>
    </main>

    <script src="/js/users/edit_user.js"></script>
  </body>
</html>
